body{
    margin: 0;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
nav{
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(241, 241, 241);
}
header{
    background-color: lightblue;
    padding: 4rem 0;
}
header h2{
    text-align: center;
}


.flex-box{
    display: flex;
}
.space-between{
    justify-content: space-between;
}



.menu li{
    margin-left: 2em;
    margin-right: 2em;
    display: flex;
    align-items: center;
}
.menu a:link{
    color:black;
    text-decoration: none;
}
section{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.content{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.content li{
    background-color: steelblue;
    width: 49%;
    height: 100px;
    margin-bottom: 1em;
}
button{
    border:none;
    background-color: lightskyblue;
    padding: 10px;
}
button:hover{
    background-color: lightblue;
}
.hamburger{
    width: 24px;
    display: none;
}
@media (max-width:800px) {
    .menu{
        display: none;
    }
    .hamburger{
        display: block;
    }
}
@media (max-width:500px){
    .content li{
        width: 100%;
    }
}